html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient( rgb(30, 255, 165), rgb(80, 74, 207));
    background-attachment: fixed;
    text-align: center;
}
.hidden{
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.visible{
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

#navigation-bar{
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    border-bottom: 3px solid rgb(11, 28, 78);
}
#head-title{
    padding: 10px 15px;
    background: #040c43;
    border-radius: 5px;
    transition: 0.5s;
}
#head-title:hover a{
    color: rgb(210, 210, 210);
}
#head-title:hover{
    transform: scale(1.03);
}
#anchors{
    display: flex;
    justify-content: space-around;
}
#anchors a{
    margin: 0 20px;
}
h1, h2, h3, h4, p, a {
    text-shadow: 0px 0px 4px black;
    color: white;
    text-decoration: none;
}
#projects-nav{
    padding: 5px;
    transition: 0.5s;
}
#projects-nav:hover{
    transform: scale(1.13);
    color: rgb(210, 210, 210);
}
#contact-nav{
    padding: 5px;
    transition: 0.5s;
}
#contact-nav:hover{
    transform: scale(1.13);
    color: rgb(210, 210, 210);
}
#about-me-nav{
    padding: 5px;
    transition: 0.5s;
}
#about-me-nav:hover{
    transform: scale(1.13);
    color: rgb(210, 210, 210);
}
#containers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
    font-family:"Montserrat", serif;

}
#print-hello-world{
    font-family: 'Courier New', Courier, monospace;
}
#coding{
    color: #ff869c;
}
#hello-world{
    color: rgb(0, 255, 38);
}
#subtext{
    color: #ffff00;
}
#projects-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0 0 0;
}
#about-me-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px 0 0 0;
}
#about-me-main h4{
    margin: 0px ;
    font-weight: 400;
}
#contact-main{
    margin: 150px 0 0 0;
    display: flex;
    flex-direction: column;
}
.contact-logos{
    display: flex;
    justify-content: space-around;
}
#github-logo{
    width: 70px;
    border: 2px white solid;
    border-radius: 100%;
    transition: 0.5s;
}
#github-logo:hover{
    transform: scale(1.13);
}
#instagram-logo{
    width: 70px;
    border: 2px white solid;
    border-radius: 100%;
    transition: 0.5s;
}
#instagram-logo:hover{
    transform: scale(1.13);
}
#email-button button{
    margin: 30px 0 0 0;
    padding: 7px 9px;
    background: black;
    color: beige;
    font-size: large;
    font-family: "Lemon Milk", serif;
    transition: 0.5s;
}
#email-button button:hover{
    transform: scale(1.13);
    color: rgb(200, 200, 200);
}
#footer-bar{
    margin-top: 60px;
    border-top: 2px solid rgb(11, 28, 78);
    padding: 15px 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 768px) {
    #projects-nav, #about-me-nav, #contact-nav, #head-title{
        font-size: x-small;
    }
    #head-title{
        background-size: auto;
    }
    #navigation-bar{
        flex-direction: row;
    }
    
}
@font-face {
    font-family:Lemon Milk ;
    src: url("assets/fonts/LEMONMILK-Regular.otf");
}
img{
    max-width: 100%;
    height: auto;
}

